body{
    margin:0 !important;
    padding:0 !important;
    display: flex !important;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    font-family: arial!important;
    margin: 2em;
    background-color: #1c1c1c;
    font-family: Nunito;
    color: #e5e5e5;
}

.calculatorInput{
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border: 1px solid #e5e5e5;
    border-radius: 20px;
   

}

.calculatorInput input{
    width:200px;
    height:50px;
    color: #fff;
    background-color: #333333;
    border: none;
    color: white;
    font-size:50px;
    padding-right: 10px;
    margin: 10px 10px;
    text-align: right;
    border-radius: 10px;
}
.calculatorInput select{
    width:200px;
    height:50px;
    color: #fff;
    background-color: #333333;
    border: none;
    color: white;
    font-size:20px;
    padding-right: 10px;
    margin: 10px 10px;
}

.calculatorInput button{
    width:200px;
    height:70px;
    color: #fff;
    background-color: #333333;
    border: none;
    color: white;
    font-size:20px;
    padding-right: 10px;
    margin: 10px 10px;
}

#result{
    font-size:70px;

}
